@import "./variables";

.card {
    width: 22rem;
    margin-top: 43px;
    border-radius: none;
    background-color: var(--very-dark-blue) !important;
}

.card-title {
    color: var(--soft-orange);
    font-size: 40px;
    font-weight: 700;
    @include font_family();
}

.card-text{
    font-size: 15px;
    padding-left: 20px;
    font-weight: 700;
    color: var(--dark-grayish-blue);
    @include font_family();
}

.list-group-item {
    background-color: var(--very-dark-blue) !important;
    font-size: 24px;
    font-weight: 700;
    color: var(--off-white);
    @include font_family();

    &:hover {
        color: var(--soft-orange);
    }
}

hr {
    display: block !important;
    border-top: 1px solid var(--dark-grayish-blue) !important;
    margin: 20px
}