@import "./variables";

.card {
    background-color: var(--very-dark-blue)  !important;
}

.title {
    color: var(--soft-orange);
    padding-bottom: 20px;
    font-weight: 700;
    @include font-family();
}

.card-title {
    color: var(--off-white);
    font-weight: 400;
    @include font-family();
}

.card-text {
    color: var(--grayish-blue);
    padding-bottom: 10px;
}

hr {
    border-top: 1px solid var(--dark-grayish-blue) !important;
}