@import "./variables";

#content {
    padding-top: 50px;
}

.content_container {
    padding-top: 40px;
}

.header {
    font-weight: 800;
    font-size: 3.6em;
    line-height: 40px;
    word-spacing: -10px;
    color: var(--very-dark-blue);
    @include font_family();
}

.header2 {
    font-weight: 800;
    font-size: 3.6em;
    line-height: 40px;
    word-spacing: -8px;
    color: var(--very-dark-blue);
    @include font_family();
}

.header3 {
    font-weight: 800;
    font-size: 3.6em;
    line-height: 40px;
    word-spacing: -10px;
    color: var(--very-dark-blue);
    @include font_family();
}

.paragraph {
    color: var(--very-dark-blue);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    word-spacing: 2.7px;
    padding-bottom: 40px;
    @include font-family();
}

.btn {
    background-color: var(--soft-red);
    color: var(--off-white);
    font-weight: 700 !important;
    font-size: 15px !important;
    height: 30%;
    width: 54%;
    letter-spacing: 5px;
    border-color: red;
    @include font-family(); 
}
