@import "./variables";

nav {
    padding-top: 60px !important;
    padding-right: 350px !important;
    color: hsl(233, 8%, 79%) !important;
}

.navbar-brand {
    padding: 200px;
}
.nav-item {
    font-weight: 400;
    padding-right: 35px;
    @include font_family();
}