nav {
    padding-top: 60px !important;
}
ul {
    padding-right: 150px;
}

.navbar-brand {
    padding: 200px;
}
.nav-item {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-right: 35px;
}